/* Reset básico */
body, h1, h2, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #000;
    transition: background-color 0.3s, color 0.3s;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    position: relative;
}

header h1 {
    margin: 0;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 2em;
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: 1em;
    right: 1em;
}

.nav-menu ul {
    list-style: none;
    padding: 0;
}

.nav-menu ul li {
    display: inline;
    margin-right: 1em;
}

.nav-menu ul li a {
    color: #fff;
    text-decoration: none;
}

.dropdown-menu {
    background-color: #444;
    color: #fff;
    padding: 1em;
    position: absolute;
    top: 3em;
    left: 0;
    display: none;
}

.dropdown-menu ul {
    list-style: none;
    padding: 0;
}

.dropdown-menu ul li {
    margin: 0.5em 0;
}

.dropdown-menu ul li a {
    color: #fff;
    text-decoration: none;
}

.book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2em;
}

.book {
    margin: 1em;
    cursor: pointer;
    text-align: center;
}

.book img {
    max-width: 200px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.synopsis {
    display: none;
    margin-top: 0.5em;
    font-size: 0.9em;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

.dark-mode .header,
.dark-mode .footer {
    background-color: #444;
}

@media (max-width: 768px) {
    .nav-menu ul {
        display: none;
        flex-direction: column;
    }

    .nav-menu ul li {
        margin: 0.5em 0;
    }

    .menu-toggle {
        display: block;
    }

    .nav-menu.active ul {
        display: flex;
    }
}
/* Estilo para o botão de modo escuro */
.dark-mode-toggle {
    background: none;
    border: none;
    font-size: 1.5em;
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: 1em;
    right: 4em; /* Ajuste conforme necessário */
}

.dark-mode-toggle:hover {
    opacity: 0.8;
}
